
fish/.config/fish/fishd.20c9d047abdf
fish/.local/share/fish/generated_completions/*
fish/.local/share/fish/fish_history
fish/.config/fish/fishd.787b8ab37ba0

*.pid

fish/\.config/fish/functions/prod_redis_stat\.fish
