"*":
  "atom-beautify":
    general:
      _analyticsUserId: "78a85f5b-a87f-4aed-a8b8-c190dee2b7b0"
  "autoclose-html":
    closeOnEndOfOpeningTag: true
    makeNeverCloseElementsSelfClosing: true
  "better-git-blame":
    searchInLayerEnabled: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-scss-lint"
    ]
    telemetryConsent: "limited"
    titleBar: "custom"
  editor:
    fontFamily: "Input Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "1c7d30a2-6356-7504-bf74-220e04dde4db"
  "git-blame":
    columnWidth: 270
    ignoreWhiteSpaceDiffs: true
    showOnlyLastNames: true
  "linter-codeclimate":
    disableTimeout: true
  "linter-ui-default":
    panelHeight: 217
  metrics:
    userId: "38144ddc73bb9aba3be5cf052e7cde1c23438e26"
  minimap: {}
  "release-notes":
    viewedVersion: "0.94.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
